body {
    background: #fafafa;
    font-family: "Poppins", sans-serif;
    color: #212427;
    position: relative;
}

.main-container {
    margin-left: 96px;
    margin-right: 96px;
}

.icon-footer {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.navbar {
    background: #fafafa;
    padding-left: 96px;
    padding-right: 96px;
    font-weight: 600;
}

.navbar .navbar-collapse .navbar-nav li a {
    color: #212427;
    padding-left: 64px;
}

.active li a {
    color: #ffc600 !important;
    padding-left: 64px;
}
.navbar .navbar-collapse .navbar-nav li a:hover {
    color: #26471d;
}

.btn.btn-primary {
    background-color: #26471d;
    border-color: #26471d;
    border-radius: 8px;
    font-weight: 400;
    color: white;
}

.btn.btn-outline-primary {
    background-color: transparent;
    border-color: #26471d;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 400;
    color: #26471d;
}

.btn.btn-outline-secondary {
    background-color: transparent;
    border-color: #26471d;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 600;
    color: #26471d;
}

.carousel-inner {
    width: 1225px;
    height: 300px;
    border-radius: 16px;
}

.content {
    margin-top: 60px;
}

.content-reseller {
    margin-left: 240px;
}

.sub-content {
    margin-top: 56px;
}

.card-produk-home {
    width: 288px;
    margin-right: 24px;
    border-radius: 8px;
    background-color: white;
}

.card-produk-home.image {
    margin-top: 20px;
    margin-left: 8px;
    width: 248px;
    height: 248px;
    border-radius: 8px;
}

.card-produk-home.title {
    font-size: 18px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 600;
}

.card-produk-home.price {
    font-size: 16px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 12px;
}

.card-benefit {
    width: 1225px;
    height: 361px;
    border-radius: 8px;
    background-color: #26471d;
    color: white;
}

.content-card-benefit {
    width: 288px;
    background: transparent;
    margin-right: 84px;
}

.content-card-benefit.bg-icon {
    margin-top: 20px;
    margin-left: 90px;
    width: 90px;
    height: 90px;
    background: #1d3616;
    border-radius: 8px;
    padding-top: 12px;
}

.icon-benefit {
    color: white;
    text-align: center;
    font-size: 64px;
}

.content-card-benefit.title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: -12px;
    margin-top: 8px;
}

.content-card-benefit.desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    padding-bottom: 20px;
}

.card-review {
    width: 440px;
    background-color: white;
    margin-right: 116px;
}

.card-review.image {
    width: 440px;
    height: 210px;
    margin-left: -12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 8px;
}

.card-review.info {
    width: 426px;
    background-color: white;
    padding-bottom: 12px;
    padding-right: 12px;
}

.card-masuk {
    width: 500px;
    border-radius: 8px;
    background-color: white;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 48px;
    padding-bottom: 24px;
}

.card-masuk a {
    color: #ffc600;
    font-weight: 600;
}

.card-masuk.lupa-kata-sandi a {
    color: #212427 !important;
    font-size: 14px;
}

.content.masuk {
    /* background-image: url("https://i.ibb.co/mbvmgxf/background-daftar.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.card-produk {
    width: 288px;
    margin-right: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: white;
    text-align: center;
}

.card-produk.image {
    margin-top: 20px;
    margin-left: 8px;
    width: 248px;
    height: 173px;
    border-radius: 8px;
}

.card-produk.title {
    font-size: 18px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 600;
    background-color: transparent;
}

.card-produk.price {
    font-size: 16px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 12px;
}

.card-buat-pesanan {
    width: 1248px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card-buat-pesanan th {
    font-weight: 400;
    font-size: 16px;
}

.card-buat-pesanan td {
    font-weight: 600;
    font-size: 16px;
}

.card-buat-pesanan table {
    text-align: center;
}

.sub-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-pembayaran {
    width: 500px;
    background-color: white;
    padding: 20px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.logo-bank {
    width: 90px;
    height: 50px;
}

.accordion-item {
    background-color: transparent;
    border-width: 0px;
}

.ava-navbar {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

.sidebar-user {
    width: 288px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

.active-sidebar-user {
    font-weight: 600;
    color: #26471d !important;
}

.sidebar-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.sidebar-user-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebar-user-subtitle {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.sidebar-user-subtitle a {
    text-decoration: none;
    color: #c4c4c4;
}

.bg-user {
    width: 900px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 60px;
}

.card-biodata {
    width: 240px;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 12px;
    padding: 20px;
}

.card-biodata-img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card-pesanan {
    width: 270px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 18px;
    margin-right: 4px;
    margin-left: 12px;
}

.card-pesanan-title {
    font-size: 14px;
    font-weight: 600;
}

.label-sedang-diantar {
    width: 140px;
    height: 20px;
    color: white;
    background-color: #f2c94c;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
}

.label-selesai {
    width: 86px;
    height: 20px;
    color: white;
    background-color: #27ae60;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
}

.sub-container {
    margin-left: 280px;
}

.card-summary-reseller {
    width: 319px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    padding-left: 24px;
    margin-right: 20px;
}

.card-summary-reseller-icon {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    padding-top: 12px;
    text-align: center;
}

.card-summary-reseller-title {
    font-weight: 400;
    font-size: 16px;
}

.card-summary-reseller-numbers {
    font-weight: 600;
    font-size: 24px;
    color: #ffc600;
}

.bg {
    width: 996px;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
    text-align: center;
}

.bg-informasi-toko {
    width: 996px;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
}

.table-produk {
    text-align: center;
}

.list-produk {
    background-color: #fafafa;
    border-radius: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.title-list-produk {
    font-weight: 600;
}

.label-ada-stok {
    color: #27ae60;
}

.label-sedang-dikirim {
    width: 160px;
    height: 26px;
    background: #f2c94c;
    border-radius: 16px;
}

.icon-edit {
    width: 20px;
    /* text-align: center; */
    background-color: #fff4d1;
    border-radius: 4px;
}

.icon-hapus {
    width: 20px;
    /* text-align: center; */
    background-color: #ffbebe;
    border-radius: 4px;
}

.card-summary-admin {
    width: 220px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    padding-left: 24px;
    margin-right: 38px;
}

.tab-bar {
    width: 996px;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
    text-align: center;
    margin-bottom: 32px;
}

.tab-bar a {
    text-decoration: none;
    color: #c4c4c4;
    text-align: center;
    font-weight: 600;
}

.bg-active {
    background-color: #26471d;
    border-radius: 8px;
    height: 40px;
}

.foto-produk {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
