body {
    background: #fafafa;
    font-family: "Poppins", sans-serif;
    color: #212427;
    position: relative;
}

.main-container {
    margin-left: 96px;
    margin-right: 96px;
}

.icon-footer {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.navbar {
    background: #fafafa;
    padding-left: 96px;
    padding-right: 96px;
    font-weight: 600;
}

.navbar .navbar-collapse .navbar-nav li a {
    color: #212427;
    padding-left: 64px;
}

.active li a {
    color: #ffc600 !important;
    padding-left: 64px;
}
.navbar .navbar-collapse .navbar-nav li a:hover {
    color: #26471d;
}

.btn.btn-primary {
    background-color: #26471d;
    border-color: #26471d;
    border-radius: 8px;
    font-weight: 400;
    color: white;
}

.btn.btn-outline-primary {
    background-color: transparent;
    border-color: #26471d;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 400;
    color: #26471d;
}

.btn.btn-outline-secondary {
    background-color: transparent;
    border-color: #26471d;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 600;
    color: #26471d;
}

.btn.btn-terima {
    /* text-align: center; */
    width: 20px;
    background-color: #e0f2e6;
    border-radius: 4px;
    color: #479360;
}

.btn.btn-terima:hover {
    border-color: #e0f2e6;
}
.btn.btn-tolak {
    width: 20px;
    /* text-align: center; */
    background-color: #ffbebe;
    border-radius: 4px;
    border-color: #ffbebe;
}

.btn.btn-edit {
    width: 20px;
    /* text-align: center; */
    background-color: #fff4d1;
    border-radius: 4px;
    border-color: #fff4d1;
}

.btn.btn-keluar {
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    color: #eb5757;
    padding: 0px;
}

.btn.btn-kirim-barang {
    /* text-align: center; */
    background-color: #e0f2e6;
    border-radius: 4px;
    color: #479360;
}

.carousel-inner {
    /* width: 1225px;
    height: 300px;
    border-radius: 16px; */
}

.content {
    margin-top: 60px;
}

.content-tentang {
    margin-top: 60px;
    margin-bottom: 120px;
}

.content-daftar {
    margin-top: 60px;
    padding-left: 96px;
    margin-left: -96px;
    /* width: 1440px; */
    background-image: url("https://i.ibb.co/GcZqN4m/bg-durian.png");
    background-repeat: no-repeat;
}

.content-masuk {
    margin-top: 60px;
    padding-left: 96px;
    margin-left: -96px;
    /* width: 1440px; */
    height: 721px;
    background-image: url("https://i.ibb.co/GcZqN4m/bg-durian.png");
    background-repeat: no-repeat;
}

.content-reseller {
    margin-left: 240px;
}

.sub-content {
    margin-top: 56px;
}

.card-produk {
    margin-right: 24px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    margin-bottom: 24px;
}

.card-produk.image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 248px;
    border-radius: 8px;
}

.card-produk.title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.card-produk.price {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 12px;
}

.card-benefit {
    border-radius: 8px;
    background-color: #26471d;
    color: white;
}

.content-card-benefit {
    background: transparent;
    text-align: center;
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 20px;
}

.content-card-benefit-bg-icon {
    /* margin-top: 20px; */
    margin-right: 80px;
    margin-left: 80px;
    background: #1d3616;
    border-radius: 8px;
    padding: 12px;
}

.icon-benefit {
    color: white;
    text-align: center;
    font-size: 64px;
}

.content-card-benefit-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 8px;
}

.content-card-benefit-desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    padding-bottom: 20px;
}

.card-review {
    width: 440px;
    background-color: white;
    margin-right: 116px;
}

.card-review.image {
    width: 440px;
    height: 210px;
    margin-left: -12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 8px;
}

.card-review.info {
    width: 426px;
    background-color: white;
    padding-bottom: 12px;
    padding-right: 12px;
}

.card-masuk {
    max-width: 500px;
    border-radius: 8px;
    background-color: white;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 48px;
    padding-bottom: 24px;
}

.card-masuk a {
    color: #ffc600;
    font-weight: 600;
}

.card-masuk.lupa-kata-sandi a {
    color: #212427 !important;
    font-size: 14px;
}

/* .card-produk {
    width: 288px;
    margin-right: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: white;
    text-align: center;
}

.card-produk.image {
    margin-top: 20px;
    margin-left: 8px;
    width: 248px;
    height: 173px;
    border-radius: 8px;
}

.card-produk.title {
    font-size: 18px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 600;
    background-color: transparent;
}

.card-produk.price {
    font-size: 16px;
    margin-top: 12px;
    margin-left: -12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 12px;
} */

.card-buat-pesanan {
    width: 1248px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card-buat-pesanan th {
    font-weight: 400;
    font-size: 16px;
}

.card-buat-pesanan td {
    font-weight: 600;
    font-size: 16px;
}

.card-buat-pesanan table {
    text-align: center;
}

.sub-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-pembayaran {
    width: 500px;
    background-color: white;
    padding: 20px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.card-bank {
    width: 200px;
    background-color: white;
    padding: 20px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.logo-bank {
    width: 90px;
    height: 50px;
}

.accordion-item {
    background-color: transparent;
    border-width: 0px;
}

.ava-navbar {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

.sidebar-user {
    width: 288px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

.active-sidebar-user {
    font-weight: 600;
    color: #26471d !important;
}

.sidebar-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.sidebar-user-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebar-user-subtitle {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.sidebar-user-subtitle a {
    text-decoration: none;
    color: #212427;
}

.bg-user {
    width: 900px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 60px;
}

.card-biodata {
    width: 240px;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 12px;
    padding: 20px;
}

.card-biodata-img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card-pesanan {
    width: 270px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 18px;
    margin-right: 4px;
    margin-left: 12px;
}

.card-pesanan-title {
    font-size: 14px;
    font-weight: 600;
}

.label-kuning {
    width: fit-content;
    height: 20px;
    background-color: #fff4d1;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.label-hijau {
    width: fit-content;
    height: 20px;
    background-color: #e0f2e6;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.label-merah {
    width: fit-content;
    height: 20px;
    background-color: #ffbebe;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.sub-container {
    margin-left: 280px;
}

.card-summary-reseller {
    width: 319px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    padding-left: 24px;
    margin-right: 20px;
}

.card-summary-reseller-icon {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    padding-top: 12px;
    text-align: center;
}

.card-summary-reseller-title {
    font-weight: 400;
    font-size: 16px;
}

.card-summary-reseller-numbers {
    font-weight: 600;
    font-size: 24px;
    color: #ffc600;
}

.bg {
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
    text-align: center;
}

.bg-informasi-toko {
    width: 996px;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
}

.table-produk {
    text-align: center;
}

.list-produk {
    background-color: #fafafa;
    border-radius: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.title-list-produk {
    font-weight: 600;
}

.label-ada-stok {
    color: #27ae60;
}

.label-sedang-dikirim {
    width: 160px;
    height: 26px;
    background: #f2c94c;
    border-radius: 16px;
}

.icon-edit {
    width: 20px;
    /* text-align: center; */
    background-color: #fff4d1;
    border-radius: 4px;
}

.icon-hapus {
    width: 20px;
    /* text-align: center; */
    background-color: #ffbebe;
    border-radius: 4px;
}

.card-summary-admin {
    width: 220px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    padding-left: 24px;
    margin-right: 38px;
}

.tab-bar {
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -12px;
    text-align: center;
    margin-bottom: 32px;
}

.tab-bar a {
    text-decoration: none;
    color: #c4c4c4;
    text-align: center;
    font-weight: 600;
}

.bg-active {
    background-color: #26471d;
    border-radius: 8px;
    height: 40px;
}

.foto-produk {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.img-bukti-pembayaran {
    height: 50px;
    width: 50px;
}

.img-header {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.card-misi {
    width: 181px;
    height: 160px;
    border-radius: 12px;
    background-color: #ffff;
    text-align: center;
    padding-top: 32px;
}

.card-promo {
    border-radius: 12px;
    background-color: #ffff;
    text-align: center;
    padding-top: 24px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    margin-left: 24px;
    margin-bottom: 24px;
}

.img-promo {
    max-width: 276px;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.card-kontak {
    border-radius: 12px;
    background-color: #ffff;
    padding-top: 24px;
    padding-left: 16px;
    margin-bottom: 24px;
}

.img-hubungi {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 24px;
}
